body{
    background-image: url(../image/Neseber.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;      
   background-repeat: no-repeat;
    background-size: cover;   
  
} 


ul{
   
    list-style: none;
    margin-top: 25px;
    position: fixed;
    top: 0;
    right: 20px;
}

ul li {
    display: inline-block;
}
ul li a{
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;    
    transition: 0.6s;
}
ul li a:hover{
    background-color: rgb(23, 0, 155);
    color: rgb(243, 219, 0);
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
        

}
.favorite {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.favorite h1 {
    color:rgb(235, 215, 38);
    font-size: 70px;
    
    padding: 10px 30px;


}

.button{
    
    position: absolute;
    display: inline-block;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    
    
} .btn {
    font-size: 30px;
    border-radius: 25px;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}
.btn:hover {
    background-color: rgb(235, 215, 38);
    color: black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;   
    background-color: initial;
    
    
}
.logoFooter img{
    width: 10%;
    height: auto;
   
 
}
.logos{
    float: left;
    position: fixed;    
    
}

.logos img{
    width: 150px;
    display: block;
        
}
h1 {
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}
.gallery {
    margin: 15px 300px;
    
}
.gallery img {
    width: 400px;
    padding: 5px;
    filter:grayscale(100%);
    transition: 1s;

} .gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.history {
    font-size: 20px;
    
}
.history {
  
        width: 80%;
        max-width: 1000px;
        margin: 20px auto;
        padding: 30px 20px;
        background: rgba(255, 255, 255, .4);
        border-radius: 10px;
        box-shadow: 0 4px 5px #333;
        -moz-box-shadow: 0 4px 5px #333;
        margin-top:5px;
        
    }
    h2 {
        text-align: center;
    
    }
    
    .imageC { 
        position: relative; 
        width: 100%; 
     }
     
     h2 { 
        position: absolute; 
        top: -15px; 
        left: 0; 
        width: 100%; 
     }
 #clock {
     width: 100%;
     position: absolute;
     font-size: 2vw;
     color: white;
     text-align: right;
     bottom: 0;
     font-style: italic;
     position: fixed;
     margin-left: -20px;

 }
 
 