body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
* {
    box-sizing: border-box;
  }
.header {
    width: 100%;
    height: 100%;
    display: block;
    top: 10;
}
.headerSliven {
    display: inline;
    color:rgb(0, 0, 0);
    font-size: 50px;
}
.headerSliven img{
    width: 450px;
    
}
.headerGerb {
    display: inline;
    color:rgb(0, 0, 0);
    font-size: 35px;
}
.headerGerb img{
    width: 250px;
}
.headerRose {
    display: inline;  
}
.headerRose img {
    position: absolute;
    width: 100px;    
    height: auto;
    top: 50px;
    right:0px;
    margin-right: 20px;
}
.buttonBack{
    position: fixed;
    top: 450px;
    left:30px;
    border: none;
    border-radius:10px;
    background-color: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonBack:hover{
    background-color: darkgreen;
}

.object{
    position: relative;
    max-width: 800px; 
    margin: 0 auto;
}
.object img {vertical-align: middle;}
.object .content{
    position: absolute; 
    bottom: 10px; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
}
  .object{
    padding: 10px 30px;
    overflow: hidden;
}
.info{
    top: 8px;
    left: 8px;
    color:  #f1f1f1;;
    padding: 13px;
    padding-left: 0;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    
}
#ToTop:hover {
    background-position: 0 100%;
}
#topButt {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 90px;
}
#topButt:hover{
    background-color: darkgreen;
}