html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../image/sea.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transperant-background{
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    width: 100%;
    overflow: auto;
}

.underTitle{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding-top: 50px;
    font-weight: bold;
}

.article-container{
    width: 100%;
}

.article-container h2{
    text-align: center;
    width: 100%;
}
.article-container .main-content{  
    float: left;
    width: 45%;
    margin-left: 3%;
}

.article-container p{
    text-align: justify;
    padding: 15px;
    text-indent: 50px;
    line-height: 1.5;
    width: 115%;
}

p.full-width{
    width: 81%;
    margin-top: 16px;
    margin-left: 107px;
}

.page-button{
    background-color: rgba(112, 229, 245, 0.8);
    color: rgb(0, 0, 0);
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    font-weight: normal;
}

.page-button:hover{
    background-color: rgb(0, 200, 226);
    cursor:pointer;
}

#back-button{
    position: absolute;
    top: 16px;
    left: 16px;
}

#top-button{
    position: absolute;
    right: 31px;
    bottom: 16px;
  }

#image_Lozenets{
    padding: 2px;
    border: 7px  rgb(0, 0, 0) ;
    background-color: rgba(0, 0,0);
    width: 25%;
    float: left;
    margin-left: 120px;
}

.text_align{
    height: 200px;
    width: 800px;
    text-align: center;
}

.info_button{
    top: 8px;
    left: 8px;
    color: rgb(0, 0, 0);
    padding: 13px;
    padding-left: 0;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration: underline;
 }

 #image_Varvara{
    padding: 2px;
    border: 7px  rgb(0, 0, 0) ;
    background-color: rgba(0, 0,0);
    width: 25%;
    float: left;
    margin-left: 120px;
}

#myslider {
    position: relative;
    height: 360px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
  }
  
  .image-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    background: rgba(255,255,255, 0.9);
    border:none;
    padding: 10px;
    color: rgb(14, 13, 13);
    cursor: pointer;
  }
  
  #right-button {
    right: 0;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
