html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(../image/Pic_Rilla.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.transperant-background {
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    width: 100%;
    overflow: auto;
}
.header {
    width: 100%;
    height: 100px;
    display: block;
    top: 0;
}
.logos {
    display: inline;
    color:rgb(0, 0, 0);
    font-size: 40px;
}
.logos img {
    width: 300px;
}
.logosOne {
    position: relative;
    top: -32px;
    font-size: 45px;
    display: inline;
    margin-left: 38%;
}
.underTitle {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin:50px; 
    font-weight: bold;
}
.wrap_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container {
    margin: 0 10px;
}
.container .title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 230, 0);
    padding: 2px;
    border: 7px double rgb(8, 156, 119);
    background-color: rgba(0, 104, 31, 0.8);
    text-align: center;
}

.container img {
    padding: 2px;
    margin: 5px 0 15px 0;
    border: 7px double rgb(8, 156, 119) ;
    background-color: rgba(0, 104, 31, 0.8);
    width: 100%;
    max-width: 300px;
    height: 226px;
    display: block;
}
.button-individual-pages {
    display: block;
    background-color: rgba(0, 104, 31, 0.8);
    color: rgb(255, 230, 0);
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
}
.button-individual-pages:hover, #btnTxt:hover, #btnTxtFirst:hover {
    background-color: rgb(233, 250, 1);
    color: rgb(8, 156, 119);
}
.color_site{
    color: rgb(216, 202, 78);
}
.rose {
    position: relative;  
}
.rose img {
    position: absolute;
    width: 130px;    
    height: auto;
    top: -60px;
    right:0px;
    margin-right: 20px;
}
.active-button {
    display: inline;
    background-color: rgba(0, 104, 31, 0.8);
    color: rgb(255, 230, 0);
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 4px;
    text-align: center;
    border-radius: 5px;
    width: 160px;
}
.text-format {
    background:  rgba(0, 104, 31, 0.8);
    padding: 10px;
    height: 200px;
    width: 800px;
    font-size: 150%;
    text-align: justify;
    margin: auto;
    margin-bottom: 16px;
    color: rgb(255, 230, 0);
    border: 1px solid rgb(255, 230, 0);
    display: none;
}
#btnTxt {
    margin-bottom: 15px;
}
.active-button-container {
    text-align: center;
    margin-top: 45px;
}
.text-in-buttons {
    text-align: center;
}
