body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    position: relative;
}
#wrapper {
    height: 100%;
    background: url("../image/rodopi.jpg") no-repeat center center;
    background-size: cover;
    padding: 30px 0;
}
.container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px 0;
    background: rgba(255, 255, 255, .4);
    border-radius: 10px;
    box-shadow: 0 4px 5px #333;
    -moz-box-shadow: 0 4px 5px #333;
    -webkit-box-shadow: 0 4px 5px #333;
}
a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-decoration: none;
    font-family: 'Neucha', cursive;
}
.to_top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    padding: 5px;
    background: #396b04;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 4px 5px #333;
    -moz-box-shadow: 0 4px 5px #333;
    -webkit-box-shadow: 0 4px 5px #333;
}
.to_top:hover {
    background: #529706;
}
.back_btn {
    display: block;
    text-align: center;
    position: fixed;
    width: 80px;
    height: 33px;
    font-size: 13px;
    line-height: 33px;
    top: 64px;
    left: 0;
    background: #fff;
    color: #605f8d;
    padding: 5px 0;
    border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
}
.back_btn:hover {
    background:#605f8d;
    color: #fff ;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 44px;
    font-weight: 600;
    text-shadow: 2px 5px 10px #333;
    font-family: 'Neucha', cursive;
    letter-spacing: 5px;
}
.introduction {
    text-align: center;
    color: #000;   
    padding: 40px 10%;
    font-family: 'Neucha', cursive;
}
.introduction p {
    font-size: 22px;
    line-height: 30px;
}
.introduction .show {
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}
.introduction .show span {
    transform: rotate(90deg);
}
.introduction .hide span {
    transform: rotate(-90deg);
}
.introduction a span {
    display: block;
}
.info {
    padding: 10px 30px;
    overflow: hidden;
}
.info .info_box {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px #6a6a6a;
    -moz-box-shadow: 0 2px 5px #6a6a6a;
    -webkit-box-shadow: 0 2px 5px #6a6a6a;
    padding: 15px;
    overflow: hidden;
}
.info .info_box:last-of-type {
    margin-bottom: 60px;
}
.info .info_box h4 {
    margin: 0 0 15px 0;
}
.info .info_box img {
    float: left;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px 0 0 5px;
}
.info .info_box p {
    margin: 0 0 30px 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    height: 100px;
    overflow: hidden;
}
.info .info_box a {
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    padding: 10px;
    background: #529706;
    line-height: 14px;
    border-radius: 0 5px 5px 0;
}
.info .info_box a span {
    font-size: 14px;
}
.info .info_box a:hover {
    color: #529706;
    background: #fff;
}
.text_bottom {
    text-align: center;
    font-size: 24px;
    font-family: 'Neucha', cursive;
}

@media only screen and (max-width: 768px) {
    h1  {
        padding: 0 20%;
    }
    .info .info_box img {
        float: none;
        max-width: 100%;
        margin: 0 auto 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .info .info_box p {
        height: auto;
    }
    .info .info_box a {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

@media only screen and (max-width: 480px) {
    h1  {
       font-size: 30px;
    }
    .back_btn {
        top: 10px;
    }
}